/* Vi resettar lite värden satta av webbläsaren */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Vi skapar lite variabler för att slippa upprepa återkommande egenskaper hos element */
:root {
  --gap-y: 1rem;
  --bg-primary: grey;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  padding: 30px;
}

nav > ul {
  display: flex;
  flex-direction: row;
}
nav > ul > li {
  list-style-type: none;
  padding: 2px;
}

main {
  display: grid;
  grid-gap: var(--gap-y);
  border-radius: 5px;
  background-color: var(--bg-primary);
  padding: 20px;
}

h1,
h2,
h3 {
  font-weight: 500;
  margin-bottom: 1rem;
}
ul {
  list-style-type: disc;
  display: grid;
  grid-gap: 10px;
}
ul li {
  color: red;
  list-style-position: inside;
}
